.box1{
background: #ee3e64;
position: relative;
width: 200px;
height: 200px;
}

.box2{
background: #44accf;
position: relative;
left: 200px;
width: 200px;
height: 200px;
}

.box3{
background: #b7d84b;
position: relative;
width: 200px;
height: 200px;
}
